pkgbase = python-cachecontrol
	pkgdesc = Port of the caching algorithms in httplib2 for use with requests session object
	pkgver = 0.14.0
	pkgrel = 3
	epoch = 1
	url = https://github.com/ionrock/cachecontrol
	arch = any
	license = Apache-2.0
	checkdepends = python-cherrypy
	checkdepends = python-pytest
	checkdepends = python-redis
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-filelock
	depends = python-msgpack
	depends = python-requests
	depends = python-urllib3
	optdepends = python-lockfile: for filecache
	optdepends = python-redis: for redis cache
	source = cachecontrol-0.14.0.tar.gz::https://github.com/ionrock/cachecontrol/archive/refs/tags/v0.14.0.tar.gz
	sha256sums = 159f4341e015d11b16de5b9f86e207cff753d6080642671f4cd09717e34a12a0
	b2sums = 352b417512dd2858ba5d43c72116a6930037adc6fc70f66efbee9c1e4e81c296bf9ebf0e862834311afaff0c66d9bbfc16a35dfe978fdf759e07e993d49a0a71

pkgname = python-cachecontrol
